<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">User</th>
          <th scope="col">Name</th>
          <th scope="col">Checklist items</th>
          <th scope="col">Progress</th>
          <th scope="col">Tags</th>
          <th scope="col">Download</th>
          <th scope="col">Save Changes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let checklist of checklists">
          <td>{{ checklist.id }}</td>
          <td>{{ checklist.user.name }}</td>
          <td>{{ checklist.name }}</td>

          <td>
            <tr *ngFor="let item of checklist.itemList; let i = index">
              {{
                item.name
              }}
              <input type="checkbox" [(ngModel)]="checklist.isChecked[i]" />
            </tr>
          </td>
          <td>
            <circle-progress [percent]="checklist.progress"></circle-progress>
          </td>

          <td>
            <tr *ngFor="let tag of checklist.tags">
              {{
                tag
              }}
            </tr>
          </td>

          <td>
            <button type="button" (click)="download_txt(checklist)">
              Download as TXT
            </button>
            <br />
            <button type="button" (click)="download_json(checklist)">
              Download as JSON
            </button>
          </td>
          <td>
            <button type="button" (click)="update(checklist)">Save</button>
          </td>
        </tr>
      </tbody>
    </table>

    <form (ngSubmit)="onSubmit()" #checklistForm="ngForm">
      <div class="form-group">
        <label for="tagsString">Tag to Search</label>
        <input
          type="text"
          [(ngModel)]="tagsString"
          class="form-control"
          id="tagsString"
          name="tagsString"
          placeholder="Enter a tag you'd like to search"
          required="tagsString"
        />
      </div>
      <label for="user">User Filter:&nbsp;</label>
      <select (change)="updateUser($event)">
        <option value="default">ALL USERS</option>
        <option *ngFor="let user of users" [value]="user.id">
          {{ user.name }}
        </option>
      </select>
      <br>
      <button
        type="submit"
        [disabled]="!checklistForm.form.valid"
        class="btn btn-info"
      >
        Submit
      </button>
    </form>
    <br />
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Checklist items</th>
          <th scope="col">Tags</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let checklist of searchChecklists">
          <td>{{ checklist.id }}</td>
          <td>{{ checklist.name }}</td>

          <td>
            <tr *ngFor="let item of checklist.itemList">
              {{
                item.name
              }}
            </tr>
          </td>
          <td>
            <tr *ngFor="let tag of checklist.tags">
              {{
                tag
              }}
            </tr>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
