<div class="float-container">
  <div class="float-child-right">
    <div>
      <h2>Cart</h2>
    </div>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>


          <th scope="col">Item ID</th>
          <th scope="col">Item Name</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of selectedItems">

          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="float-child-left">

    <form (ngSubmit)="onSubmit()" #checklistForm="ngForm">
      <label for="user">Pick a user to create a checklist for&nbsp;</label>
      <select (change)="updateUser($event)">
        <option value="default">----</option>
        <option *ngFor="let user of users" [value]="user.id">
            {{user.name}}
        </option>
    </select>
    <div class="alert alert-danger">User selection is required</div>

    <br>
      <div class="form-group">
        <label for="name">Checklist name</label>
        <input type="text" [(ngModel)]="checklist.name" class="form-control" id="name" name="name"
          placeholder="Enter the name for the checklist" required #name="ngModel">
      </div>
      <div [hidden]="!name.pristine" class="alert alert-danger">Checklist name is required</div>


      <div class="form-group">
        <label for="tagsString">To enter different tags enter them below(for multiple tags serpate them by
          commas)</label>
        <input type="text" [(ngModel)]="tagsString" class="form-control" id="tagsString" name="tagsString"
          placeholder="Enter extra tags seperated by commas">
      </div>

      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>


            <th scope="col">Item ID</th>
            <th scope="col">Item Name</th>
            <th scope="col">Add</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of items">

            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td><button type="button" (click)="addItemToList(item)"> ADD TO LIST {{item.name}}</button></td>
          </tr>
        </tbody>
      </table>

      <div class="form-group">
        <label for="itemsString">To enter different items enter them below(for multiple tags serpate them by
          commas)</label>
        <input type="text" [(ngModel)]="itemsString" class="form-control" id="itemsString" name="itemsString"
          placeholder="Enter extra items seperated by commas">
      </div>

      <button type="submit" [disabled]="!checklistForm.form.valid" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>