.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child-left {
    width: 75%;
    float: left;
    padding: 20px;
}  

.float-child-right {
    width: 25%;
    float: right;
    padding: 20px;
}  